.parent{
    
    height: 10em;
    width: 100vw;
    display: flex;
    margin-bottom: 20px;
   

}
.section1{
    position: relative; 
    /* display: flex; */
     justify-content: center; 
    align-items: center;
    
}

.content1{
    position: relative;
}
.content1 h2{
    position: absolute;
    transform: translate(10%, -50%);
    font-size: 8em;
    
}
.content1 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content1 h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

.content2{
    position: relative;
}
.content2 h2{
     position: absolute;
   transform: translate(115%, -50%);
    font-size: 8em;
}
/* h2{
    display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */
.content2 h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content2 h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}



.pokemon-container{
    display: flex;
    flex-wrap: wrap;
}
.pokemon-container{
    display: flex;
    flex-wrap: wrap;
}

.loadmore{
    /* height: 30px;
    width: 100px; */
    padding: 10px;
    border: none;
    background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);

    cursor: pointer;
    border-radius: 5px;
}
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

body{
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}