/* *{
    margin: 0;
    padding: 0; */
/* } */
body{
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;

}
.Clock-container{
    margin: 30vh;
    height: 200px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
#DisplayTimer{
    height: 30px;
    width: 150px;
    background: white;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}